<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd"￥>
<html>
<head>
	{{> defaultHead }}
	<title>{{ titleJa }} - hiyokoのblog</title>
</head>
<body>
	<header>
		{{> header }}
	</header>
	<div style="
			background-color: #EDF7FF;
			display			: inline-block;
			width			: 100%
		">
	<h1>{{ titleJa }}</h1>
	<div>
	<A href="https://github.com/Remix-Design/remixicon/blob/master/License" class="ri-price-tag-3-line"></A>
	{{#each tags}} 
		<A href="/tags/{{name}}">{{name}}</A>
	{{/each}}
	</div>
	
	{{#if cautionJS}}
	<div style="
		background-color: yellow;
		padding: 1.5rem;
		border: solid 0.2rem red;
		border-radius: 1.5em;
		width: 20rem;
		max-width 90%;
		margin-right: auto;
	">
	このページにはjavascriptが含まれている可能性があります。実行されるのが嫌な人はブラウザの設定から解除するなど自分で対応してください。
	</div>
	{{/if}}
	
	<span style=
		"background-color: #f7f7f7;
		 display:inline-block;
		 padding-right: 1.6rem;
		 border-radius: 1.5em;
	">
		<h2 style="text-align: center;">ToC</h2>
		{{{ toc }}}
	</span>
	{{{ contents }}}
	
	<!--
	前後の記事へのリンク
	collectionの仕様と推奨上、前後が逆-->
	<div style="text-align: center;">
	{{#if next}}
	←<a href="/{{ next.path }}">{{ next.titleJa }}</a>
	{{/if}}
	{{#if next}}{{#if previous}}
	｜
	{{/if}}{{/if}}
	{{#if previous}}
	<a href="/{{ previous.path }}">{{ previous.titleJa }}</a>→
	
	{{/if}}
	</div>
	
	</div>
	<footer>{{> footer }}</footer>
</body>
</html>
