<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd"￥>
<html>
<head>
	{{> defaultHead }}
	<title>{{ titleJa }} - hiyokoのblog</title>
</head>
<body>
	<header>
		{{> header }}
	</header>
	<div style="
			background-color: #EDF7FF;
			display			: inline-block;
			width			: 100%
		">
	<h1>{{ titleJa }}</h1>
	<div>
	<i class="ri-price-tag-3-line"></i>
	{{#each tags}} 
		<A href="/tags/{{name}}">{{name}}</A>
	{{/each}}
	</div>
	<span style="background-color: #f7f7f7; display:inline-block; padding-right: 1.6rem;">
		<h2 style="text-align: center;">ToC</h2>
		{{{ toc }}}
	</span>
	{{{ contents }}}
	
	<!--
	前後の記事へのリンク
	collectionの仕様と推奨上、前後が逆-->
	<div style="text-align: center;">
	{{#if next}}
	←<a href="/{{ next.path }}">{{ next.titleJa }}</a>
	{{/if}}
	{{#if next}}{{#if previous}}
	｜
	{{/if}}{{/if}}
	{{#if previous}}
	<a href="/{{ previous.path }}">{{ previous.titleJa }}</a>→
	
	{{/if}}
	</div>
	
	</div>
	<footer>{{> footer }}</footer>
</body>
</html>
