<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd"￥>
<html>
<head>
	{{> defaultHead }}
	<title>{{ titleJa }} - hiyokoのblog</title>
</head>
<body>
	<header>
		{{> header }}
	</header>
	<div class="body">
	<h1>{{ titleJa }}</h1>
	<div>
	<A href="https://github.com/Remix-Design/remixicon/blob/master/License" class="ri-price-tag-3-line"></A>
	{{#each tags}} 
		<A href="/tags/{{name}}">{{name}}</A>
	{{/each}}
	</div>
	
	<table style="width:100%">
		<tr>
			<td>投　稿　日：{{dateFormat date "YYYY/MM/DD"}}</td>
			<td style="text-align:right;">書いた人：{{author}}</td>
		</tr>
		<tr>
			<td style="padding-right:1.5rem;">最終更新日：{{#if update}}{{dateFormat update "YYYY/MM/DD"}}{{else}}{{dateFormat date "YYYY/MM/DD"}}{{/if}}</td>
			<td style="text-align:right;"><A href="https://github.com/Remix-Design/remixicon/blob/master/License" class="ri-share-line"></A>Share{{> shareBtn }}</td>
		</tr>
	</table>
	
	<span style=
		"background-color: #f7f7f7;
		 display:inline-block;
		 padding-right: 1.6rem;
		 border-radius: 1.5em;
	">
		<h2 style="text-align: center;">ToC</h2>
		{{{ toc }}}
	</span>
	{{{ contents }}}
	<!--
	前後の記事へのリンク
	collectionの仕様と推奨上、前後が逆-->
	<div style="text-align: center;">
	{{#if next}}
	←<a href="/{{ next.path }}">{{ next.titleJa }}</a>
	{{/if}}
	{{#if next}}{{#if previous}}
	｜
	{{/if}}{{/if}}
	{{#if previous}}
	<a href="/{{ previous.path }}">{{ previous.titleJa }}</a>→
	
	{{/if}}
	</div>
	
	</div>
	<footer>{{> footer }}</footer>
</body>
</html>
