<html>
<head>
	{{> defaultHead }}
	<title>{{ titleJa }} - hiyokoのblog</title>
</head>
<body>
	<header>{{> header }}</header>
	<div style="background-color: #EDF7FF;">
	<h1>{{ titleJa }}</h1>
	<i class="ri-price-tag-3-line"></i>
	{{#each tags}} 
		<A href="/tags/{{name}}">{{name}}</A>
	{{/each}}
  {{{ contents }}}
	</div>
</body>
</html>
