<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<head>
	{{> defaultHead }}
	<title>{{ tag }}タグのブログ - hiyokoのblog</title>
	{{> ogpTagExceptOgImage }}
	<meta property="og:image" content="https://og-image.eyemono.moe/**%E3%82%BF%E3%82%B0%EF%BC%9A{{tag}}**%0A%0A%E3%81%AE%E3%81%A4%E3%81%84%E3%81%9F%E3%83%9A%E3%83%BC%E3%82%B8.png?pattern=none&md=1&fontSize=75px&textColor=%23404040&textStrongColor=%238340BB&overlay=https%3A%2F%2Fhiyoko.pages.dev%2Fassets%2Fogp-background.webp">
	
</head>
<body style="background-color: snow;">
	<header>{{> header }}</header>
	<h1>Blog(s) index of <i class="ri-price-tag-3-line"></i><em>{{tag}}</em></h1>
	
	<table>
		<thead>
			<tr>
				<th><!--no icon--></th>
				<th>title</th>
				<th>date</th>
			</tr>
			<tr>
				<th colspan="3"><hr /></th>
			</tr>
		</thead>
		<tbody>
			<td><i class="ri-arrow-go-back-fill" style="transform: roateX ( 180deg );"></i></td>
			<td><A href="/blog/">Blog Top</A></td>
			{{#each pagination.files}}
			<tr>
				<td><i class="ri-pages-line"></i></td>
				<td><a href=/blog/{{dateFormat date "YYYY"}}/{{changeCase title lower}}>{{titleJa}}</a></td>
				<td>{{dateFormat date "YYYY/MM/DD"}}</td>
			<tr>
			{{/each}}
		</tbody>
	</table>
	
	{{#if pagination.previous}}
		<a href="{{pagination.previous.path}}">Previous</a>
	{{/if}}
	{{#if pagination.next}}
		<a href="{{pagination.next.path}}">Next</a>
	{{/if}}
	
	<footer>{{> footer }}</footer>
	{{> CloudflareAnalyticsSnippet }}
</body>
